html,body{
    background: #000000 !important;  
}

.main{
    max-width: 1000px;
    margin: 0 auto;
}

.main .MuiTypography-root{
    font-size: 36px;
    font-weight: bold;
}

.main .secondaryLanding{
    font-size: 20px;
}

.tag span.MuiChip-label{
    cursor: pointer;
    color: white;
}

.tag .MuiChip-root:hover{
    background-color: black;
}

/* Create Account Stepper */
span.MuiStepLabel-label.Mui-active, span.MuiStepLabel-label.Mui-completed, span.MuiStepLabel-label.Mui-disabled {
    color: white;
}

.MuiStepIcon-root {
    color: white !important;
}

.links:hover{
    border-bottom: 2px solid #6F0C16;
    cursor: pointer;
}

.MuiSvgIcon-root {
    cursor: pointer;
    color: white !important;
}

.MuiSvgIcon-root:hover {
    color: #6F0C16;
}

.MuiMenuItem-root, .MuiMenu-list{
    background-color: black !important;
    color: white !important;
}

.mainDescription{
    float: right;
}

/* Mobile screen */ 
@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 568px) {
    .MuiTab-root{
        font-size: 14px !important;
    }

    .main .MuiTypography-root{
        font-size: 24px;
    }

    .main .secondaryLanding{
        font-size: 20px;
    }

    .main .logo{
        width: 250px;
        height: 140px;
    }

    .main .main_marketing{
        max-width: 100%;
        height: auto;
    }

    .thumbnail{
        width: 324px;
        height: auto;
    }

    .logout{
        margin: auto !important;
        float: none !important;
        display: flex !important;
        margin-right: 10px !important;
    }
}

/* Ipad and tablets*/ 
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .main{
        max-width: 524px;
    }

    .main .main_marketing{
        max-width: 100%;
        height: auto;
    }

    .mainDescription{
        float: none;
    }
}

