html,body{
    background-image: linear-gradient(to right, #131416, #1A1B25, #131416);
    background-color: #131416;
}

body{
    color: #FFFFFF;
}

.logo {
  display: block;        
  padding-left: 40px;    
  margin: 0;             
}

@media (max-width: 600px) {
  .logo {
    margin: 0 auto;      
    padding-left: 0;     
  }
}


.mainDescription {
  padding: 8px;
  text-align: left; /* default for larger screens */
}

@media (max-width: 600px) {
  .mainDescription {
    text-align: center; /* center on mobile */
  }
}


